.main {
  @apply bg-white max-w-screen-2xl gap-x-8;
  display: grid;
  min-height: 100vh;
  margin: 0 auto;
}

/* * Mobile Devices */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .main {
    margin: 1vmin;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem minmax(25vh, min-content) auto;
    grid-template-areas:
      'header'
      'nav'
      'movies';
  }
}

/* * All Other Devices - NOTE: This could be done much more cleanly, but I'm limited on time... */
@media only screen and (min-device-width: 812px) {
  .main {
    grid-template-columns: 14vw 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas:
      'header header'
      'nav movies';
  }
}

.nav {
  grid-area: nav;
  @apply flex flex-col gap-4;
}

.movies {
  grid-area: movies;
}

.header {
  grid-area: header;
  align-self: center;
}

.header h1 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 150%;
}

.movies__grid {
  @apply grid grid-cols-5 gap-9;
  grid-auto-rows: max-content;
}

.movies__grid[data-end=true] {
  @apply mb-8;
}

.load_more {
  @apply mb-4 mt-8 bg-sky-500 text-white p-2 font-bold text-lg rounded-xl cursor-pointer transition-all hover:bg-sky-600;
}

.loading_more {
  @apply mb-4 mt-8 bg-stone-200 text-white p-2 font-bold text-lg rounded-xl cursor-pointer transition-all animate-bounce;
}

.info_bar {
  @apply w-full block grid grid-cols-1;
}

.error_box {
  @apply bg-red-100 text-red-500 p-4 rounded-lg mt-8;
}